body {
  background: #28292D;
  font-family: 'Roboto', sans-serif;
}

.weather-app {
  background: #252628;
  color: #F7F7F9;
  max-width: 600px;
  margin: 18px auto;
  box-shadow: 0 10px 30px #535151;
  border-radius: 30px;
  padding: 30px 40px;
}

.search-input {
  background: #e0dce9;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  padding: 15px 20px;
  width: 80%;
}

.search-button {
  background: #7B30C0;
  color: #F7F7F9;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  padding: 15px 30px;
  margin-left: 3px;
}

h1 {
  text-align: center;
  font-size: 42px;
  font-weight: 500;
  margin: 0;
  padding: 36px 0 0;
}

h3 {
  text-align: center;
  font-weight: 400;
  margin: 0;
  padding: 12px 0;
}

.current-weather {
  display: flex;
  justify-content: space-around;
}

.weather-description {
  font-weight: 300;
  width: 100px;
  padding: 20px 0;
}
.current-temperature {
  padding: 60px 0;
  width: 100px;
}
.current-temperature-value {
  font-size: 48px;
  font-weight: 500;
}
.temperature-unit {
  font-size: 28px;
}
.weather-details {
  width: 100px;
  padding: 10px 0;
}
ul {
  list-style: none;
  padding-left: 0px;
}





.weather-forecast {
  display: flex;
  justify-content: space-around;
}
footer {
  text-align: center;
  font-weight: 300;
  font-size: 15px;
}
a {
  color: #7B30C0;
}