body {
  background: #28292D;
  font-family: 'Roboto', sans-serif;
}
.weather-app {
  background: #252628;
  color: #F7F7F9;
  max-width: 600px;
  margin: 18px auto;
  box-shadow: 0 10px 30px #535151;
  border-radius: 30px;
  padding: 24px 40px;
}
.search-input {
  background: #e0dce9;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  padding: 15px 20px;
  width: 80%;
}
.search-button {
  background: #7B30C0;
  color: #F7F7F9;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  padding: 15px 30px;
  margin-left: 3px;
}
h1 {
  text-align: center;
  font-size: 42px;
  font-weight: 500;
  margin: 0;
  padding: 30px 0 0;
}
h3 {
  text-align: center;
  font-weight: 400;
  margin: 0;
  padding: 12px 0;
}
.current-weather {
  display: flex;
  justify-content: space-around;
}
.weather-description {
  font-weight: 300;
  max-width: 100px;
  padding: 20px 0;
}
.current-temperature {
  padding: 60px 0;
}
.current-temperature-value {
  font-size: 60px;
  font-weight: 500;
}
.temperature-unit {
  font-size: 30px;
}
.weather-details {
  padding: 24px 0 0;
}
.humidity,
.wind,
.pressure {
  padding-bottom: 18px;
}
.weather-forecast {
  display: flex;
  justify-content: space-around;
  text-align: center;
  margin: 42px 0;
}
.weather-forecast-date {
  font-weight: 500;
}
.forecast-icon {
  width: 80%;
}
.weather-forecast-temperatures {
  display: flex;
  justify-content: space-evenly;
  font-weight: 400;
}
footer {
  text-align: center;
  font-weight: 300;
  font-size: 15px;
  margin-top: 40px;
}

a {
  color: #7B30C0;
}